{% extends "index.twig" %}

{% block head %}
    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/css/half-slider.css" rel="stylesheet">
{% endblock %}

{% block menu %}
    <header id="header" class="alt">
        <nav id="nav">
            {% if admin == 2 %}
            <ul>
                <li><a href="/etablissements/accueil"><strong>Accueil</strong></a></li>
                <li><a href="/etablissements/mes-offres"><strong>Mes offres</strong></a></li>
                <li><a href="/etablissements/candidats"><strong>Candidats</strong></a></li>
                <li><a href="/etablissements/mon-profil"><strong>Mon profil</strong></a></li>
                <li><a href="/logout" class="button"><strong>Deconnexion</strong></a></li>
            </ul>
            {% else %}
            <ul>
                <li><a href="/enseignants/accueil"><strong>Accueil</strong></a></li>
                <li><a href="/enseignants/offres"><strong>Offres</strong></a></li>
                <li><a href="/enseignant/mon-profil"><strong>Mon profil</strong></a></li>
                <li><a href="/logout" class="button"><strong>Deconnexion</strong></a></li>
            </ul>
            {% endif %}
        </nav>
    </header>
{% endblock %}

{% block banner %}

    <div class="top-content">

        <div class="inner-bg">

            <section {#id="banner"#}>
                {% block bannerInner %}
                    {% if admin == 2 %}
                <h1 style="color: #fff;">MyBestProf</h1>
                <p style="color: #fff;">L'agence de recrutement spécialisée dans l'enseignement.</p>
                {#<p style="color: #fff;">[TEXTE EXPLICATIVE]</p>#}

                <br/><br/>


                <div class="container">
                    <div class="row">
                        <div class="6u 12u(narrower)">
                            <section class="box special" style="box-shadow: none; background: rgba(0, 0, 0, 0.4); ">
                                <h3 style="color: #fff;">Créez votre offre</h3>
                                <p style="color: #fff;">Ici, créez votre offre personnalisé: pour gagner encore plus de temps dans vos recherche, rédigez une offre précise concernant le profil que vous recherchez. Chaque candidat y aura accès afin de maximiser vos chances de trouver la personne qu'il vous faut!</p>
                                <ul class="actions">
                                    <li><a href="/etablissements/mes-offres-creer" class="btn" style="background: #00CC66;">CRÉER</a></li>
                                </ul>
                            </section>
                        </div>

                        <div class="6u 12u(narrower)">

                            <section class="box special" style="box-shadow: none; background: rgba(0, 0, 0, 0.4); color: #fff; height: 280px;">
                                <h3 style="color: #fff;">Trouvez un candidat</h3>
                                <p style="color: #fff;">Accédez à la liste complête des candidats!</p>
                                <ul class="actions">
                                    <li><a  href="/etablissements/candidats" class="btn" style="background: #00CC66; margin-top:58px;" >RECHERCHER</a></li>
                                </ul>
                            </section>

                        </div>
                    </div>
                </div>
                {% else %}
                    <h1 style="color: #fff;">MyBestProf</h1>
                    <p style="color: #fff;">L'agence de recrutement spécialisée dans l'enseignement.</p>

                    <br/><br/>


                    <div class="container">
                        <div class="row">
                            <div class="6u 12u(narrower)">
                                <section class="box special" style="box-shadow: none; background: rgba(0, 0, 0, 0.4); ">
                                    <h3 style="color: #fff;">Passer le test</h3>
                                    <p style="color: #fff;">remplissez le test auquel accèderont ensuite les écoles en recherche d'ensaignants!</p>
                                    <ul class="actions">
                                        <li><a href="/enseignants/mon-form-creer" class="btn" style="background: #00CC66;">COMMENCEZ</a></li>
                                    </ul>
                                </section>
                            </div>


                            <div class="6u 12u(narrower)">

                                <section class="box special" style="box-shadow: none; background: rgba(0, 0, 0, 0.4); color: #fff; height: 240px;">
                                    <h3 style="color: #fff;">Trouvez une offre</h3>
                                    <p style="color: #fff;">Accédez à la liste complête des offres!</p>
                                    <ul class="actions">
                                        <li><a  href="/enseignants/candidats" class="btn" style="background: #00cc66; margin-top:30px;" >RECHERCHER</a></li>
                                    </ul>
                                </section>

                            </div>
                        </div>
                    </div>
                {% endif %}
                {% endblock %}
            </section>

        </div>
    </div>

{% endblock %}


{% block content %}
{% endblock %}

{% block sousContent %}
{% endblock %}


{% block script %}
{% endblock %}


