{% extends "index.twig" %}

{% block head %}
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/half-slider.css" rel="stylesheet">
{% endblock %}

{% block menu %}
    <header id="header" class="alt">
        <nav id="nav">
            <ul>
                <li><a href="/users/"><strong>Accueil</strong></a></li>
                <li><a href="/users/mes-offres"><strong>Mes offres</strong></a></li>
                <li><a href="/users/mon-profile"><strong>Candidats</strong></a></li>
                <li><a href="/users/mon-profile"><strong>Mon profile</strong></a></li>
                <li><a href="/logout" class="button"><strong>Deconnexion</strong></a></li>
            </ul>
        </nav>
    </header>
{% endblock %}

{% block banner %}
    <!-- Banner -->
    <div class="top-content">

        <div class="inner-bg">
            <section {#id="banner"#}>
                <h1 style="color: black;">MyBestProf - Accueil</h1>
                <p style="color: black;">L'agence de recrutement spécialisée dans l'enseignement.</p>
                <p style="color: black;">[TEXTE EXPLICATIVE]</p>

                <br/><br/>


                <div class="container">
                    <div class="row">
                        <div class="6u 12u(narrower)">
                            <section class="box special" style="box-shadow: none; background: rgba(0, 0, 0, 0.4); ">
                                {#<span class="image featured"><img src="images/etabliss.jpg" alt="" /></span>#}
                                <h3 style="color: #fff;">Créer votre offre</h3>
                                <p style="color: #fff;"> [ a definir avec jordy ou jean ]</p>
                                <ul class="actions">
                                    <li><a href="/" class="btn" style="background: #00CC66;">CREER</a></li>
                                </ul>
                            </section>
                        </div>


                        <div class="6u 12u(narrower)">

                            <section class="box special" style="box-shadow: none; background: rgba(0, 0, 0, 0.4); color: #fff;">
                                {#<span class="image featured"><img src="images/prof.jpg" alt="" /></span>#}
                                <h3 style="color: #fff;">Rechercher un candidat</h3>
                                <p style="color: #fff;"> [ a definir avec jordy ou jean ]</p>
                                <ul class="actions">
                                    <li><a  href="/" class="btn" style="background: #00CC66;" >RECHERCHER</a></li>
                                </ul>
                            </section>

                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>

{% endblock %}


{#{% block content %}#}

{#{% endblock %}#}

{% block content %}
{% endblock %}

{% block sousContent %}
{% endblock %}


{% block script %}
{% endblock %}
{#{% block script %}#}
    {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>#}

    {#<!-- jQuery -->#}
    {#<script src="js/jquery.js"></script>#}

    {#<!-- Bootstrap Core JavaScript -->#}
    {#<script src="js/bootstrap.min.js"></script>#}

    {#<!-- Script to Activate the Carousel -->#}
    {#<script>#}
        {#$('.carousel').carousel({#}
            {#interval: 5000 //changes the speed#}
        {#})#}
    {#</script>#}
{#{% endblock %}#}


