{% extends 'index.twig' %}

{% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Page de connexion </title>
{% endblock %}


{% block banner %}
    {#{{ parent() }}#}
        <!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                {% block classContainer %}
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <section id="titleConnexion"> <h2><strong>MyBestProf</strong> - Connexion </h2></section>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>Connexion à votre compte</h3>
                            		<p>Entrer votre email et votre mot de passe</p>
                                    {% if notFound %}
                                        <label style="color: #ff0000; font-weight: bold;" >{{ notFound }}</label>
                                    {% endif %}
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-lock"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <form role="form" action="/login" method="post" class="">
			                    	<div class="form-group">
			                    		<label class="sr-only" for="username">Email</label>
                                        {% if reg_error.username %}
                                            <label style="color: #ff0000" for="username">{{ reg_error.username }}</label>
                                        {% endif %}
			                        	<input type="text" name="username" placeholder="Email ..." class="form-username {% if reg_error.username %}input-error{% endif %}" id="form-username">
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="password">Mot de passe </label>
                                        {% if reg_error.password %}
                                            <label style="color: #ff0000" for="username">{{ reg_error.password }}</label>
                                        {% endif %}
			                        	<input type="password" name="password" placeholder="Mot de passe ..." class="form-password {% if reg_error.password %}input-error{% endif %}" id="form-password">
			                        </div>
                                    <button type="submit" class="btn">Connexion !</button>
			                    </form>
		                    </div>
                        </div>
                    </div>

                </div>
                {% endblock %}
            </div>
            
        </div>
{% endblock %}

{% block content %}
{% endblock %}

{% block sousContent %}
{% endblock %}


{% block script %}
{% endblock %}
