{% extends 'accueil.twig' %}

{% block bannerInner %}
    <h1 class="white">MyBestProf - Mes offres</h1>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 form-box">

                <div class="form-top">
                    <div class="form-top-left">
                        <h3 class="white">Créer votre  Offre</h3>

                        {% if notFound %}
                            <label class="fail" >{{ notFound }}</label>
                        {% endif %}
                    </div>
                    <div class="form-top-right">
                        <i class="fa fa-folder"></i>
                    </div>
                </div>
                <div class="form-bottom">

                    <form role="form" action="/etablissements/mes-offres-creer-check" method="post" class="offre-form">

                        <div class="form-group -3u 5u">
                            <label class="white" for="form-title">Titre de l'offre :</label>
                            <input type="text" name="title_offre" placeholder="Titre de l'offre..." value="{% if dataForm.title_offre %}{{ dataForm.title_offre|e }}{% endif %}" class="form-title {% if reg_error.title_offre %}input-error{% endif %}" id="form-username">
                        </div>

                        <div class="row uniform 100%">

                            <div class="form-group 6u">
                                <label class="white" for="form-offre">Description de l'offre :</label>
                                <textarea name="description_offre" id="offre-description" rows="5" class="{% if reg_error.description_offre %}input-error{% endif %}" placeholder="Déscriptif de l'offre">{% if dataForm.description_offre %}{{ dataForm.description_offre|e }}{% endif %}</textarea>
                            </div>

                            <div class="form-group 6u">
                                <label class="white" for="form-competence">Compétences requises :</label>
                                <textarea name="competence_offre"  id="offre-competence" rows="5" placeholder="Compétences requises ?" class="{% if reg_error.competence_offre %}input-error{% endif %}">{% if dataForm.competence_offre %}{{ dataForm.competence_offre|e }}{% endif %}</textarea>

                            </div>

                        </div>

                        <div class="row uniform 100%">
                            <div class="form-group 6u"  >
                                <label  class="white" for="form-typeContrat">Type de contrat :</label>

                                <select class="form-control {% if reg_error.contrat_offre %}input-error{% endif %}" name="contrat_offre" id="offreTypeContrat">
                                    <option value="0">Séléctionnez</option>
                                    <option value="CDD">CDD</option>
                                    <option value="CDD">CDI</option>
                                    <option value="Stage">Stage</option>
                                    <option value="Interim">Interim</option>

                                </select>
                            </div>

                            <div class="form-group 6u" >
                                <label class="white" for="form-Nivexp">Niveau d'experience :</label>
                                <select class="form-control {% if reg_error.experience_offre %}input-error{% endif %}" name="experience_offre" id="offreExperience">
                                    <option value="0">Séléctionnez</option>
                                    <option value="Moins d'1 an"> Moins d'1 an</option>
                                    <option value="Supérieur à 2 ans">Supérieur à 2 ans</option>
                                    <option value="Supérieur à 2 ans">Supérieur à 5 ans</option>
                                    <option value="Supérieur à 10 ans">Supérieur à 10 ans </option>
                                </select>
                            </div>

                        </div>

                        <br/>
                        {#<div class="form-group -4u 4u">#}
                        {#<button type="submit" class="btn greenb"><a href="/formulaire_etablissement">Rédiger un formulaire</a></button>#}
                        {#</div>#}

                        <div class="form-group -4u 4u">
                            <button type="submit" class="btn greenb">Poster l'offre</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}