{% extends 'connexion.twig' %}


{% block classContainer %}
    <div class="container">
        <div class="row">
            <div class="6u 12u(narrower)">
                <section class="box special" style="box-shadow: none; background: rgba(0, 0, 0, 0.3); ">
                    <span class="image featured"><img src="images/etabliss.jpg" alt="" /></span>
                    <h3 style="color: #fff;">Vous êtes un établissement scolaire privé !</h3>
                    <p style="color: #fff;"> [ a definir avec jordy ou jean ]</p>
                    <ul class="actions">
                        <li><a href="/inscription-etablissement" class="btn" style="background: #00CC66;">Inscription !</a></li>
                    </ul>
                </section>

            </div>
            <div class="6u 12u(narrower)">

                <section class="box special" style="box-shadow: none; background: rgba(0, 0, 0, 0.3); color: #fff;">
                    <span class="image featured"><img src="images/prof.jpg" alt="" /></span>
                    <h3 style="color: #fff;">Vous êtes professeur !</h3>
                    <p style="color: #fff;"> [ a definir avec jordy ou jean ]</p>
                    <ul class="actions">
                        <li><a  href="/inscription-enseignant" class="btn" style="background: #00CC66;">Inscription !</a></li>
                    </ul>
                </section>

            </div>
        </div>
{% endblock %}