{% extends 'connexion.twig' %}


{% block classContainer %}
    <div class="container">
        <div class="row">
            <div class="6u 12u(narrower)">
                <section class="box special  fond_box3">
                    <span class="image featured"><img src="images/etabliss.jpg" alt="" /></span>
                    <h3>Vous êtes un établissement scolaire privé !</h3>
                    <p class="white"> [ a definir avec jordy ou jean ]</p>
                    <ul class="actions">
                        <li><a href="/inscription-etablissement" class="btn greenb">Inscription !</a></li>
                    </ul>
                </section>

            </div>
            <div class="6u 12u(narrower)">

                <section class="box special custom_white3">
                    <span class="image featured"><img src="images/prof.jpg" alt="" /></span>
                    <h3 >Vous êtes professeur !</h3>
                    <p > [ a definir avec jordy ou jean ]</p>
                    <ul class="actions">
                        <li><a  href="/inscription-enseignant" class="btn greenb" >Inscription !</a></li>
                    </ul>
                </section>

            </div>
        </div>
{% endblock %}