{% extends 'connexion.twig' %}


 {% block classContainer %}
     <div class="container">
         <div class="row">
             <div class="col-sm-8 col-sm-offset-2 text">
                 <h1><strong>MyBestProf</strong> - Inscription - Vous êtes un établissement </h1>
                 <div class="description">
                     <p>
                         <a href="http://azmind.com"><strong></strong></a>
                     </p>
                 </div>
             </div>
         </div>
         <div class="row">
             <div class="col-sm-6 col-sm-offset-3 form-box">
                 <div class="form-top">
                     <div class="form-top-left">
                         {% if errorDb %}
                             <h3>INSCRIPTION ECHOUE</h3>
                             <p>Une erreur c'est produite lors de votre inscription...</p>
                         {% else %}
                             <h3>INSCRIPTION REUSSI</h3>
                             <p>Votre inscription a bien été enregistré !</p>
                         {% endif %}
                     </div>
                     <div class="form-top-right">
                         <i class="fa {% if errorDb %}fa-times-circle{% else %}fa-chevron-circle-down{% endif %}"></i>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 {% endblock %}